
#playing-field{
    height: 80vh;
    background-color: rgb(13, 192, 13);
    position: relative;
}

.frog{
    background-color: aliceblue;
    position: absolute;
}

#header{
    text-align: center;
}
#footer{
    display: grid;
   grid-template-areas: "fl s l";
   grid-template-columns: repeat(3, 1fr);
   text-align: center;
}
#frogsLeft{
    grid-area: fl;
}
#start{
    grid-area: s;
}
#level{
    grid-area: l;
}